<toaster-container></toaster-container>
<div class="card">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="card-header">
    Ingrese la cadena Json a procesar. Nota: Se debe ingresar un estructura Json
    valida
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <form
        [formGroup]="TransformerJsonForm"
        #formDir="ngForm"
        (ngSubmit)="ProcessJson()"
      >
        <div class="row">
          <div class="form-group input-group-sm  col-md-10 offset-md-1">
            <label for="jsonText">Propietario en Formato Json:</label>
            <textarea
              class="form-control"
              rows="10"
              cols="180"
              id="jsonText"
              formControlName="jsonText"
              [(ngModel)]="jsonText"
              name="jsonText"
              autocomplete="off"
              required
            ></textarea>
          </div>
        </div>
      <div class="row ">

        <div class="col-md-1 offset-md-4">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="DisableSubmitButtonTransformerJsonForm()">
            Almacenar Propietario
          </button>
        </div>
        <div class="col-md-1 offset-md-1">
          <button
            type="button"
            class="btn btn-danger"
           (click)="navigateOwnerRecords()">
            Ver Propietarios
          </button>
      </div>
    </div>
      </form>
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Gestión de Reglas
  </div>
  <div class="card-body">
      <div *ngIf="showNewRuler">
          <div layout="column" layout-gt-xs="row">
            <form [formGroup]="RulerForm" #formDir="ngForm" (ngSubmit)="saveRuler()">
              <div class="row">
                        <div class="form-group input-group-sm  col-md-4 offset-md-1">
                            <label for="status">Nombre</label>
                          <select #status class="form-control" id="status" [(ngModel)]="rulerOne.Name" formControlName="rulerName">
                            <option *ngFor="let item of listNameRuler" [value]="item.Valor" >
                                {{ item.Descripcion }}
                            </option>
                          </select>
                        </div>
                      <div class="form-group input-group-sm  col-md-4 offset-md-1">
                          <label for="status">Activo</label>
                        <select class="form-control" id="status" [(ngModel)]="rulerOne.Status" formControlName="rulerStatus">
                          <option *ngFor="let item of listStatusRuler" [value]="item.Valor" >
                              {{ item.Descripcion }}
                          </option>
                        </select>
                      </div>

                    </div>
                    <div class="row col-md-1 offset-md-5">
                      <button type="submit" class="btn btn-primary" [disabled]="DisableSubmitButtonRulerForm()">
                        Guardar
                      </button>
                    </div>
                  </form>
            </div>
        </div>
      <hr>
    <blockquote class="blockquote mb-0">
      <div class="row ">
        <div class="col-md-1 offset-md-4">
          <button type="button" class="btn btn-info" (click)="showFormRuler()">
            Crear Reglas
          </button>
        </div>
        <div class="col-md-1 offset-md-1">
          <button type="button" class="btn btn-danger" (click)="deleteRulers()" >
            Eliminar Reglas
          </button>
        </div>
      </div>
    </blockquote>
  </div>
</div>
