<toaster-container></toaster-container>
<div class="card">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="card-header">
    <h3>Historial de Propietarios</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th class="wrap" scope="col">Identificación</th>
          <th class="wrap" scope="col">Razon Social</th>
          <th class="wrap" scope="col">Correo</th>
          <th class="wrap" scope="col">Tipo de Identificación</th>
          <th class="wrap" scope="col">Tipo de Persona</th>
          <th class="wrap" scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ownerRecord">
            <td>{{item.identificacion}}</td>
            <td>{{item.razonSocial}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.tipoIdentificacion}}</td>
            <td>{{item.tipoPersona}}</td>
            <td>
                <button  class="btn btn-primary" (click)="notifyOwner(item.identificacion)"
                matTooltip="Notificar Información vía Email en formato XML" matTooltipPosition="above">
                Enviar XML al Correo</button>
            </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="SearchPrevious()">Previous</a></li>
        <li class="page-item"><a class="page-link">{{pageIndex}}</a></li>
        <li class="page-item"><a class="page-link" (click)="SearchNext()">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
